<!-- START Button trigger modal | TESTING ONLY -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="margin-bottom: 50px">Alert Modal</button>
    </div>
  </div>
</div>
<!-- END Button trigger modal | TESTING ONLY -->

<!-- Modal -->
<div class="modal fade cm-cdt-alert is-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Are you sure to close this evaluation?</h4>
      </div>
      <div class="modal-body">
        <p>You’ll be sending this evaluation to:</p>
        <ul>
          <li>Mark Howell Ki<span>markh@criticalmass.com</span></li>
          <li>Freddy Felipe Umana<span>freddyfu@criticalmass.com</span></li>
          <li>Adelia Johnson Depp<span>adeliag@criticalmass.com</span></li>
          <li>Andrea Zuniga Rodríguez<span>andreaz@criticalmass.com</span></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-sm btn-secondary">Send</button>
      </div>
    </div>
  </div>
</div>