<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="description" content="description">
  <meta name="keywords" content="webapp, templates">
  <meta name="author" content="CM">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <link rel="icon" type="image/vnd.microsoft.icon" href="/assets/images/favicon.png"/>

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" />
  <link rel="stylesheet" href="/bower_components/selectize/dist/css/selectize.css" />
  <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- CSS -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <!-- endinject -->

</head>
