<nav class="cm-cdt-m-paginator">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <svg class="icon icon-arrow rotate-270"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <svg class="icon icon-arrow rotate-90"><use xlink:href="#arrow"></use></svg>
      </a>
    </li>
  </ul>
</nav>