<div class="cm-cdt-m-score-slider">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <input
          type="text"
          name="slider-n"
          id="slider-n"
          data-provide="slider"
          data-slider-ticks="[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          data-slider-ticks-labels='["N/A", "", "", "", "", "", "", "", "", "", "10"]'
          data-slider-tooltip="always"
          data-slider-tooltip_position = "top">
      </div>
    </div>
  </div>
</div>