<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <div class="cm-cdt-m-dropdown is-select">
          <select placeholder="Select an option...">
            <option value="all-employees">All Employees</option>
            <option value="all-career-developers">All Career Developers</option>
            <option value="career-developer-01">Career Developer 01</option>
            <option value="career-developer-02">Career Developer 02</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>