<!-- START FOOTER MODULE -->
<table bgcolor="#000000" cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
  <tr><td width="100%" height="15" style="font-size:15px; line-height:15px;"></td></tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
        <tr>
          <td width="40">&nbsp;</td>
          <td valign="top" align="left" width="230" style="color:#FFFFFF;font-size:12px; vertical-align:top; text-align:left; line-height:14px !important;"><font face="arial">
            Copyright Critical Mass 2016
          </font></td>
          <td valign="top" align="left" width="290" style="color:#FFFFFF;font-size:12px; vertical-align:top; text-align:right; line-height:14px !important;"><font face="arial">
            <a href="#" target="_blank" style="color:#FFFFFF;text-decoration:underline">View this email in your browser</a>
          </font></td>
          <td width="40">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td width="100%" height="15" style="font-size:15px; line-height:15px;"></td></tr>
</table>
<!-- END FOOTER MODULE -->
