<table bgcolor="#000000" cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
  <tr><td width="100%" height="15" style="font-size:15px; line-height:15px;"></td></tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
        <tr>
          <td width="40">&nbsp;</td>
          <td valign="middle" align="left" width="332" height="21" style="padding:0;">
            <img width="239" height="21" alt="CM News" border="0" style="display:block;border:none;" src="https://placehold.it/239x21/FE271E/FE271E">
          </td>
          <td width="20">&nbsp;</td>
          <td valign="middle" align="center" width="27" height="27" style="padding:0;">
            <a target="_blank" href="#"><img width="27" height="27" alt="Facebook" border="0" style="display:block;border:none;" src="https://placehold.it/27x27/FE271E/FE271E"></a>
          </td>
          <td width="20">&nbsp;</td>
          <td valign="middle" align="center" width="27" height="27" style="padding:0;">
            <a target="_blank" href="#"><img width="27" height="27" alt="Twitter" border="0" style="display:block;border:none;" src="https://placehold.it/27x27/FE271E/FE271E"></a>
          </td>
          <td width="20">&nbsp;</td>
          <td valign="middle" align="center" width="27" height="27" style="padding:0;">
            <a target="_blank" href="#"><img width="27" height="27" alt="Slideshare" border="0" style="display:block;border:none;" src="https://placehold.it/27x27/FE271E/FE271E"></a>
          </td>
          <td width="20">&nbsp;</td>
          <td valign="middle" align="center" width="27" height="27" style="padding:0;">
            <a target="_blank" href="#"><img width="27" height="27" alt="CM" border="0" style="display:block;border:none;" src="https://placehold.it/27x27/FE271E/FE271E"></a>
          </td>
          <td width="40">&nbsp;</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td width="100%" height="15" style="font-size:15px; line-height:15px;"></td></tr>
</table>
<!-- END HEADER MODULE -->
