<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-2">
        <thead>
          <tr>
            <th>Peer</th>
            <th>Email</th>
            <th>Progress</th>
            <th>Score</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span><svg class="icon icon-arrow rotate-90"><use xlink:href="#arrow"></use></svg></span> You</td>
            <td>ernestoo@criticalmass.com</td>
            <td><svg class="icon icon-completed"><use xlink:href="#completed"></use></svg></td>
            <td>8</td>
            <td></td>
          </tr>
          <tr>
            <td><span>1</span> Adelia Johnson Depp</td>
            <td>ernestoo@criticalmass.com</td>
            <td><svg class="icon icon-completed"><use xlink:href="#completed"></use></svg></td>
            <td>8</td>
            <td><a class="btn btn-link" href="#">send reminder</a></td>
          </tr>
          <tr>
            <td><span>2</span> Andrea Zuniga Rodríguez</td>
            <td>ernestoo@criticalmass.com</td>
            <td><svg class="icon icon-in-progress"><use xlink:href="#in-progress"></use></svg></td>
            <td>8</td>
            <td></td>
          </tr>
          <tr>
            <td><span>3</span> Freddy Felipe Umana</td>
            <td>ernestoo@criticalmass.com</td>
            <td><svg class="icon icon-uncompleted"><use xlink:href="#uncompleted"></use></svg></td>
            <td>8</td>
            <td><a class="btn btn-link" href="#">send reminder</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>