<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-4">
        <thead>
          <tr>
            <th>Peer</th>
            <th>Email</th>
            <th>Strongest Value</th>
            <th>Weakest Value</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adelia Johnson Depp</td>
            <td>ernestoo@criticalmass.com</td>
            <td>All</td>
            <td>-</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Andrea Zuniga Rodríguez</td>
            <td>ernestoo@criticalmass.com</td>
            <td>Passionate, driven, recommendation</td>
            <td>Honest</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Freddy Felipe Umana</td>
            <td>ernestoo@criticalmass.com</td>
            <td></td>
            <td></td>
            <td>Uncompleted</td>
          </tr>
          <tr>
            <td>Mark Howell Ki</td>
            <td>ernestoo@criticalmass.com</td>
            <td>All</td>
            <td>-</td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>