---

layout: default
title: Components
logged: true

---

{% include dropdowns.html %}

{% include accordions.html %}

{% include paginator.html %}

{% include progress-bars.html %}

{% include steps.html %}

{% include score-slider.html category-title="Talent" category-description="Does this person have the knowledge, skills, abilities and future potential (aptitude) to be meet the expectations of their role and position?" %}

{% include alert-inline.html %}

{% include alert-modal.html %}

{% include tabs.html %}

{% include lists.html %}

{% include tables.html %}

{% include heros.html %}

{% include login.html %}

{% include footer.html %}
