<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="cm-cdt-m-lists">
        <div class="list-column">
          <div class="col-xs-12">
            <a href="#">
              <img class="img-responsive" src="https://placehold.it/60x60/FE271E/FE271E" alt="">
              <h3>Adelia Johnson Depp</h3>
              <h6><span>Associate Production Designer</span></h6>
            </a>
          </div>
          <div class="col-xs-3">
            <h5>unfinished evaluations</h5>
            <ul>
              <li>+3 Evaluations</li>
            </ul>
          </div>
          <div class="col-xs-3">
            <h5>pending action plans</h5>
            <ul>
              <li><a href="#"><svg class="icon icon-talent-potential-star"><use xlink:href="#talent-potential-star"></use></svg>Andrea Zuniga Rodríguez</a></li>
              <li><a href="#"><svg class="icon icon-talent-shapeuporshipout"><use xlink:href="#talent-shapeuporshipout"></use></svg>Andrea Zuniga Rodríguez</a></li>
              <li class="inactive"><a href="#"><svg class="icon icon-talent-shapeuporshipout"><use xlink:href="#talent-shapeuporshipout"></use></svg>Andrea Zuniga Rodríguez</a></li>
            </ul>
          </div>
          <div class="col-xs-3">
            <h5>done</h5>
            <ul>
              <li class="inactive"><a href="#"><svg class="icon icon-talent-star"><use xlink:href="#talent-star"></use></svg>Andrea Zuniga Rodríguez</a></li>
              <li><a href="#"><svg class="icon icon-talent-star"><use xlink:href="#talent-star"></use></svg>Andrea Zuniga Rodríguez</a></li>
              <li><a href="#"><svg class="icon icon-talent-star"><use xlink:href="#talent-star"></use></svg>Andrea Zuniga Rodríguez</a></li>
            </ul>
          </div>
          <div class="col-xs-3">
            <h5>commented by gdl</h5>
            <ul>
              <li><a href="#"><svg class="icon icon-talent-solid-reliable"><use xlink:href="#talent-solid-reliable"></use></svg>Andrea Zuniga Rodríguez</a></li>
              <li><a href="#"><svg class="icon icon-talent-solid-reliable"><use xlink:href="#talent-solid-reliable"></use></svg>Andrea Zuniga Rodríguez</a></li>
              <li><a href="#"><svg class="icon icon-talent-solid-reliable"><use xlink:href="#talent-solid-reliable"></use></svg>Andrea Zuniga Rodríguez</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
