<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="cm-cdt-m-lists">
        <div class="list-row">
          <div class="col-xs-1 row-item">
            <a href="#">
              <img class="img-responsive" src="https://placehold.it/60x60/FE271E/FE271E" alt="">
            </a>
          </div>
          <div class="col-xs-3 row-item">
            <a href="#">
              <p>Adelia Johnson Depp</p>
              <h6><span>Associate Production Designer</span></h6>
            </a>
          </div>
          <div class="col-xs-8 row-item">
            <p>Select evaluation type</p>
            <button class="btn btn-sm btn-secondary">360 Evaluation</button>
            <button class="btn btn-sm btn-secondary">Focus Areas</button>
          </div>
        </div>
        <div class="list-row">
          <div class="col-xs-1 row-item">
            <a href="#">
              <img class="img-responsive" src="https://placehold.it/60x60/FE271E/FE271E" alt="">
            </a>
          </div>
          <div class="col-xs-3 row-item">
            <a href="#">
              <p>Adelia Johnson Depp</p>
              <h6><span>Associate Production Designer</span></h6>
            </a>
          </div>
          <div class="col-xs-8 row-item">
            <div class="evaluation">
              <span class="bg-perfect"></span>
              <span class="bg-perfect"></span>
              <span class="bg-high"></span>
              <p>360 evaluation</p>
            </div>
          </div>
        </div>
        <div class="list-row">
          <div class="col-xs-1 row-item">
            <a href="#">
              <img class="img-responsive" src="https://placehold.it/60x60/FE271E/FE271E" alt="">
            </a>
          </div>
          <div class="col-xs-3 row-item">
            <a href="#">
              <p>Adelia Johnson Depp</p>
              <h6><span>Associate Production Designer</span></h6>
            </a>
          </div>
          <div class="col-xs-8 row-item">
            <ul class="cm-cdt-m-steps">
              <li class="circle bg-perfect color-perfect">
                <h4>Peers selection</h4>
              </li>
              <li class="line bg-perfect color-perfect" style="width: 100px;"></li>
              <li class="circle active">
                <h4>Peers evaluation</h4>
              </li>
              <li class="line bg-high" style="width: 100px;"></li>
              <li class="circle bg-high color-high">
                <h4>Finish evaluation</h4>
              </li>
            </ul>
          </div>
        </div>
        <div class="list-row">
          <div class="col-xs-1 row-item">
            <a href="#">
              <img class="img-responsive" src="https://placehold.it/60x60/FE271E/FE271E" alt="">
            </a>
          </div>
          <div class="col-xs-3 row-item">
            <a href="#">
              <p>Adelia Johnson Depp</p>
              <h6><span>Associate Production Designer</span></h6>
            </a>
          </div>
          <div class="col-xs-8 row-item">
            <div class="score">
              <p>Acknowledged</p>
              <span class="score-box bg-perfect">Score: 10</span>
            </div>
          </div>
        </div>
        <div class="list-row">
          <div class="col-xs-1 row-item">
            <a href="#">
              <img class="img-responsive" src="https://placehold.it/60x60/FE271E/FE271E" alt="">
            </a>
          </div>
          <div class="col-xs-3 row-item">
            <a href="#">
              <p>Adelia Johnson Depp</p>
              <h6><span>Associate Production Designer</span></h6>
            </a>
          </div>
          <div class="col-xs-8 row-item">
            <svg class="icon icon-talent-potential-star"><use xlink:href="#talent-potential-star"></use></svg>
            <div class="score">
              <p>Last evaluation</p>
              <span class="score-box bg-perfect">Score: 10</span>
            </div>
          </div>
        </div>
        <div class="list-row">
          <div class="col-xs-1 row-item">
            <a href="#">
              <img class="img-responsive" src="https://placehold.it/60x60/FE271E/FE271E" alt="">
            </a>
          </div>
          <div class="col-xs-3 row-item">
            <a href="#">
              <p>Adelia Johnson Depp</p>
              <h6><span>Associate Production Designer</span></h6>
            </a>
          </div>
          <div class="col-xs-8 row-item">
            <svg class="icon icon-talent-solid-reliable"><use xlink:href="#talent-solid-reliable"></use></svg>
            <div class="score">
              <p>Last evaluation</p>
              <span class="score-box bg-high">Score: 8.5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
