<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="cm-cdt-m-steps">
        <li class="circle bg-perfect color-perfect">
          <h4>Peers selection</h4>
        </li>
        <li class="line bg-perfect" style="width: 300px;"></li>
        <li class="circle active">
          <h4>Peers evaluation</h4>
        </li>
        <li class="line bg-high" style="width: 300px;"></li>
        <li class="circle bg-high color-high">
          <h4>Finish evaluation</h4>
        </li>
      </ul>
    </div>
  </div>
</div>