<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <div class="cm-cdt-m-hero is-score">
          <div class="col-xs-8 no-padding">
            <div class="hero-table">
              <div class="hero-table-cell">
                <h4>Calgary</h4>
                <h6><span>Last review results, Q1 2015</span></h6>
              </div>
              <div class="hero-table-cell">
                <span class="score-circle bg-high">76%</span>
              </div>
              <div class="hero-table-cell">
                <h4>Calgary</h4>
                <h6><span>91/157</span></h6>
              </div>
            </div>
          </div>
          <div class="col-xs-4 no-padding">
            {% include search.html %}
          </div>
        </div>
      </div>
  </div>
</div>