//== Global
//
//## Global variables
$prefix: 'cm-cdt';
// .#{$prefix}-p   = page
// .#{$prefix}-m   = module
// .#{$prefix}-h   = helper
// .#{$prefix}-mix = mixin
// .#{$prefix}-is  = state
// .#{$prefix}-f   = function



//== Slick
//
//## Slick variables
$slick-font-path: "../fonts/";



// Colors
//
// Location: scss/core/_variables.scss
//
// Here should be defined all the colors that will be used on the entire page.
//
// Markup:
// <div class="styleguide-color" style="background-color:#FE271E">$color-links</div>
// <div class="styleguide-color" style="background-color:#383838">$color-text</div>
// <div class="styleguide-color" style="background-color:#000000">$color-icons</div>
// <div class="styleguide-color" style="background-color:#FFFFFF;color:#000000">$color-white</div>
// <div class="styleguide-color" style="background-color:#8B0000">$color-redberry</div>
// <div class="styleguide-color" style="background-color:#CD0000">$color-guardsmanred</div>
// <div class="styleguide-color" style="background-color:#FFCC00;color:#000000">$color-supernova</div>
// <div class="styleguide-color" style="background-color:#C0C0C0;color:#000000">$color-silver</div>
// <div class="styleguide-color" style="background-color:#B0CC59;color:#000000">$color-celery</div>
// <div class="styleguide-color" style="background-color:#1D3746">$color-bluedianne</div>
// <div class="styleguide-color" style="background-color:#EDEBF0;color:#000000">$color-athensgray</div>
//
// Styleguide 1.03

$color-redorange: #FE271E;
$color-mineshaft: #383838;
$color-black: #000000;

$color-links: $color-redorange;
$color-text: $color-mineshaft;
$color-icons: $color-black;

$color-white: #FFFFFF;
$color-redberry: #8B0000;
$color-guardsmanred: #CD0000;
$color-supernova: #FFCC00;
$color-silver: #C0C0C0;
$color-celery: #B0CC59;
$color-bluedianne: #1D3746;
$color-athensgray: #EDEBF0;