// Logo
//
// Location: scss/helpers/_icons.scss
//
// Markup:
// <svg class="icon icon-logo-large"><use xlink:href="#logo-large"></use></svg>
// <svg class="icon icon-logo-small"><use xlink:href="#logo-small"></use></svg>
//
// Styleguide 1.02

// Icons
//
// Location: scss/helpers/_icons.scss
//
// Each SVG tag should have two classes, one called 'icon' and the collored called 'icon-' + 'the name of the svg'. Example: class='icon icon-svgname'.
// Some SVGs will have different rotations, for this you can use the utils classes called 'rotate-90', 'rotate-180' or 'rotate-270'.
//
// Markup:
// <svg class="icon icon-close"><use xlink:href="#close"></use></svg>
// <svg class="icon icon-plus"><use xlink:href="#plus"></use></svg>
// <svg class="icon icon-less"><use xlink:href="#less"></use></svg>
// <svg class="icon icon-arrow"><use xlink:href="#arrow"></use></svg>
// <svg class="icon icon-arrow rotate-180"><use xlink:href="#arrow"></use></svg>
// <svg class="icon icon-arrow rotate-270"><use xlink:href="#arrow"></use></svg>
// <svg class="icon icon-arrow rotate-90"><use xlink:href="#arrow"></use></svg>
// <svg class="icon icon-completed"><use xlink:href="#completed"></use></svg>
// <svg class="icon icon-in-progress"><use xlink:href="#in-progress"></use></svg>
// <svg class="icon icon-uncompleted"><use xlink:href="#uncompleted"></use></svg>
// <svg class="icon icon-search"><use xlink:href="#search"></use></svg>
// <svg class="icon icon-edit"><use xlink:href="#edit"></use></svg>
// <svg class="icon icon-delete"><use xlink:href="#delete"></use></svg>
// <svg class="icon icon-talent-potential-star"><use xlink:href="#talent-potential-star"></use></svg>
// <svg class="icon icon-talent-shapeuporshipout"><use xlink:href="#talent-shapeuporshipout"></use></svg>
// <svg class="icon icon-talent-solid-reliable"><use xlink:href="#talent-solid-reliable"></use></svg>
// <svg class="icon icon-talent-star"><use xlink:href="#talent-star"></use></svg>
// <svg class="icon icon-notification"><use xlink:href="#notification"></use></svg>
// <svg class="icon icon-notification-alert"><use xlink:href="#notification-alert"></use></svg>
// <svg class="icon icon-profile"><use xlink:href="#profile"></use></svg>
// <svg class="icon icon-logout"><use xlink:href="#logout"></use></svg>
//
// Styleguide 1.05

// Global
.icon {
	pointer-events: none;
	vertical-align: middle;
}

// Fill
#close,
#arrow,
#delete,
#notification,
#notification-alert,
#logout,
#plus,
#less {
	path {
		fill: currentColor;
	}
}

// Sizes
.icon-logo-large {
	width: 466px;
}
.icon-logo-small {
	width: 100px;
}
.icon-logo-large,
.icon-logo-small {
	height: 100px;
}

.icon-close {
	width: 49px;
	height: 48px;
}

.icon-plus,
.icon-less {
	width: 48px;
	height: 48px;
}

.icon-arrow {
	width: 49px;
	height: 26px;
}

.icon-completed,
.icon-in-progress,
.icon-uncompleted,
.icon-talent-potential-star,
.icon-talent-shapeuporshipout,
.icon-talent-solid-reliable,
.icon-talent-star {
	width: 50px;
	height: 50px;
}

.icon-search,
.icon-edit {
	width: 49px;
	height: 49px;
}

.icon-delete {
	width: 46px;
	height: 44px;
}

.icon-notification,
.icon-notification-alert {
	width: 53px;
	height: 53px;
}

.icon-profile {
	width: 50px;
	height: 55px;
}

.icon-logout {
	width: 45px;
	height: 49px;
}

.#{$prefix}-pt-evaluation {
	.icon-talent-potential-star,
	.icon-talent-shapeuporshipout,
	.icon-talent-solid-reliable,
	.icon-talent-star {
		width: 40px;
    height: 40px;
    margin-left: 10px;
	}
}

.table {
	.icon-completed,
	.icon-in-progress,
	.icon-uncompleted {
		width: 26px;
		height: 26px;
	}
	.icon-arrow {
		width: 26px;
		height: 14px;
	}
	.icon-delete {
		width: 24px;
		height: 24px;
	}
}

.#{$prefix}-m-footer {
	.icon-logo-small {
		width: 34px;
		height: 34px;
	}
}

.#{$prefix}-m-login {
	.icon-logo-large {
		width: 494px;
    height: 106px;
	}
}

.#{$prefix}-m-search {
	.icon-search {
		width: 26px;
		height: 26px;
	}
}

.#{$prefix}-m-nav {
	.icon-notification,
	.icon-notification-alert {
		width: 28px;
		height: 28px;
	}
	.icon-arrow {
		width: 24px;
		height: 12px;
	}
	.icon-logout {
		width: 24px;
		height: 26px;
	}
}

.#{$prefix}-m-dropdown {
	.icon-arrow {
		width: 26px;
		height: 14px;
	}
}

.#{$prefix}-m-accordion {
	.icon-plus,
	.icon-less {
		width: 26px;
		height: 26px;
	}
}

.#{$prefix}-m-lists {
	.icon-talent-potential-star,
	.icon-talent-shapeuporshipout,
	.icon-talent-solid-reliable,
	.icon-talent-star {
		width: 26px;
		height: 26px;
		margin-left: 0;
	}

	.list-row {
		.icon-talent-potential-star,
		.icon-talent-shapeuporshipout,
		.icon-talent-solid-reliable,
		.icon-talent-star {
			vertical-align: super;
		}
	}
}

.js-timeline-slider {
	.icon-arrow {
		width: 26px;
		height: 14px;
	}
}